@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
    --hover-color : #6e31ac;
    --primiry: #6e31ac;
    --navs-background : #000000;
    --background-secondary: #9540e9a2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container{
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.icon{
    min-width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 2.5rem;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3rem;
}

.icon.arrow_down{
    background-color: #8080802d;
    min-width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    font-size: 1.6rem;
    justify-self: flex-end;
    color: rgb(128, 99, 99);
    transition: 0.3s;
    justify-self: flex-end;
    position: absolute;
    right: 1rem;
}

.icon.logout{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    line-height: 7.2rem;
    background-color: var(--background-secondary);
    border-radius: 0;
}

/* .icon:hover{
    background-color: #fff;
    color: #000000;
} */

.app{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-areas: 'sidebar' 'home';
}

.app .home_content{
    grid: 'home';
    background-color: green;
    min-height: 100vh;
}

.home_content{
    grid: 'home';
    background-color: green;
    min-height: 100vh;
}
